<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
  <h2>Nothing to see here</h2>
  <p>There must be a login button somewhere...</p> 
  <div>
    <p>
      Lorem ipsum dolor sit amet. Eum atque officiis non cumque excepturi aut nostrum excepturi et 
      sapiente quasi in recusandae fugiat et officia architecto. Id similique aperiam quo similique beatae eos 
      quia voluptatem? Et quia quasi sit ipsam ipsam et quos magnam. 
      Et adipisci consequatur a consequuntur dicta et placeat cumque! Aut vero dignissimos vel accusamus quia id quia unde? 
      Quo dolorum aliquid qui fugiat quam sit nisi inventore aut iste modi. Non laudantium voluptates qui similique 
      dolor ut dolor inventore eum accusantium voluptatem et laboriosam reprehenderit est tempore iste. Qui fuga error 
      aut doloribus dolor sed dolorem assumenda. Aut consequatur ipsa At quam ipsam eos quas repudiandae est autem voluptas et 
      nobis officia hic alias amet ut placeat omnis. Ea quia libero qui error fugit est animi cumque sed recusandae animi et maiores 
      sunt.
    </p>
  </div>
   <div>
    <p>
      Lorem ipsum dolor sit amet. Eum atque officiis non cumque excepturi aut nostrum excepturi et 
      sapiente quasi in recusandae fugiat et officia architecto. Id similique aperiam quo similique beatae eos 
      quia voluptatem? Et quia quasi sit ipsam ipsam et quos magnam. 
      Et adipisci consequatur a consequuntur dicta et placeat cumque! Aut vero dignissimos vel accusamus quia id quia unde? 
      Quo dolorum aliquid qui fugiat quam sit nisi inventore aut iste modi. Non laudantium voluptates qui similique 
      dolor ut dolor inventore eum accusantium voluptatem et laboriosam reprehenderit est tempore iste. Qui fuga error 
      aut doloribus dolor sed dolorem assumenda. Aut consequatur ipsa At quam ipsam eos quas repudiandae est autem voluptas et 
      nobis officia hic alias amet ut placeat omnis. Ea quia libero qui error fugit est animi cumque sed recusandae animi et maiores 
      sunt.
    </p>
  </div>
  <div
  style="
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  "
>
  <a href="{% url 'login_page' %}">
    <button
      style="
        opacity: 0;
        pointer-events: auto;
        width: 150px;
        height: 60px;
        cursor: pointer;
      "
    >
      Login
    </button>
  </a>
</div>
 <div>
    <p>
      Lorem ipsum dolor sit amet. Eum atque officiis non cumque excepturi aut nostrum excepturi et 
      sapiente quasi in recusandae fugiat et officia architecto. Id similique aperiam quo similique beatae eos 
      quia voluptatem? Et quia quasi sit ipsam ipsam et quos magnam. 
      Et adipisci consequatur a consequuntur dicta et placeat cumque! Aut vero dignissimos vel accusamus quia id quia unde? 
      Quo dolorum aliquid qui fugiat quam sit nisi inventore aut iste modi. Non laudantium voluptates qui similique 
      dolor ut dolor inventore eum accusantium voluptatem et laboriosam reprehenderit est tempore iste. Qui fuga error 
      aut doloribus dolor sed dolorem assumenda. Aut consequatur ipsa At quam ipsam eos quas repudiandae est autem voluptas et 
      nobis officia hic alias amet ut placeat omnis. Ea quia libero qui error fugit est animi cumque sed recusandae animi et maiores 
      sunt.
    </p>
  </div>
   <div>
    <p>
      Lorem ipsum dolor sit amet. Eum atque officiis non cumque excepturi aut nostrum excepturi et 
      sapiente quasi in recusandae fugiat et officia architecto. Id similique aperiam quo similique beatae eos 
      quia voluptatem? Et quia quasi sit ipsam ipsam et quos magnam. 
      Et adipisci consequatur a consequuntur dicta et placeat cumque! Aut vero dignissimos vel accusamus quia id quia unde? 
      Quo dolorum aliquid qui fugiat quam sit nisi inventore aut iste modi. Non laudantium voluptates qui similique 
      dolor ut dolor inventore eum accusantium voluptatem et laboriosam reprehenderit est tempore iste. Qui fuga error 
      aut doloribus dolor sed dolorem assumenda. Aut consequatur ipsa At quam ipsam eos quas repudiandae est autem voluptas et 
      nobis officia hic alias amet ut placeat omnis. Ea quia libero qui error fugit est animi cumque sed recusandae animi et maiores 
      sunt.
    </p>
  </div>
</body>
</html>